@model IEnumerable<Ferrero.GestorDeProjetos.Web.Models.Projeto>
@{
    ViewData["Title"] = "Todos os projetos";
}
@section Styles {
    <!-- Dependencies -->
    <link rel="stylesheet" href="~/vendor/libs/datatables/datatables.css">
}
@section Scripts {
    <!-- Dependencies -->
    <script src="~/vendor/libs/datatables/datatables.js"></script>
    <script src="~/js/tables_datatables.js"></script>
}

<!-- CONTENT -->
<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
  <div><span class="text-muted font-weight-light">Projetos/</span>Todos</div>
  <a type="button" class="btn btn-primary rounded-pill d-block" asp-action="Create" asp-controller="Projetos">
    <span class="ion ion-md-add"></span>&nbsp;Projeto
  </a>
</h4>

<div class="card">
  <div class="card-datatable table-responsive">
    <table id="todos-os-projetos" class="table table-striped table-bordered table-datatable">
      <thead>
          <tr>
              <th>@Html.DisplayNameFor(model => model.Nome)           </th>
              <th class="text-center">@Html.DisplayNameFor(model => model.DataDeInicio)   </th>
              <th class="text-center">@Html.DisplayNameFor(model => model.DataDeTermino)  </th>
              <th class="text-center">@Html.DisplayNameFor(model => model.Concluido)      </th>
              <th></th>
          </tr>
      </thead>
      <tbody>
    @foreach (var item in Model) {
        <tr>
          <td>@Html.DisplayFor(modelItem => item.Nome)          </td>
          <td class="text-center">@Html.DisplayFor(modelItem => item.DataDeInicio)  </td>
          <td class="text-center">@Html.DisplayFor(modelItem => item.DataDeTermino) </td>
          <td class="text-center">@Html.DisplayFor(modelItem => item.Concluido)     </td>
          <td class="text-center">
            <a asp-action="Edit" class="btn btn-warning btn-sm" asp-route-id="@item.Id">
              <span class="ion ion-md-create">
            </a>
            <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">
              <span class="ion ion-md-trash">
            </a>
          </td>
        </tr>
    }
    </tbody>
    </table>
  </div>
</div>