@model IEnumerable<Ferrero.GestorDeProjetos.Web.Models.OrdemDeInvestimentoFollowUp>

@{
    ViewData["Title"] = "Follow-up das Ordens de Investimento";
}

@section Styles {
    <!-- Dependencies -->
    <link rel="stylesheet" href="~/vendor/libs/datatables/datatables.css">
}
@section Scripts {
    <!-- Dependencies -->
    <script src="~/vendor/libs/datatables/datatables.js"></script>
    <script src="~/js/tables_datatables.js"></script>
}

<!-- CONTENT -->
<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
  <div><span class="text-muted font-weight-light">Follow-up/</span>Summário</div>
</h4>

<div class="card">
  <div class="card-datatable table-responsive">
    <table id="todos-as-notas-fiscais" class="table table-striped table-bordered table-datatable">
      <thead>
        <tr>
          <th>@Html.DisplayNameFor(model => model.Numero) </th>
          <th>@Html.DisplayNameFor(model => model.NomeDoProjeto) </th>            
          <th>@Html.DisplayNameFor(model => model.Bugdget) </th>            
          <th>@Html.DisplayNameFor(model => model.Actual) </th>            
          <th>@Html.DisplayNameFor(model => model.Commitment) </th>            
          <th>@Html.DisplayNameFor(model => model.Assigned) </th>    
          <th>@Html.DisplayNameFor(model => model.Available) </th>            
          <!--
          <th></th>
          -->
        </tr>
    </thead>  
    <tbody>
@foreach (var item in Model) {
        <tr>
          <td>@Html.DisplayFor(modelItem => item.Numero)</td>
          <td>@Html.DisplayFor(modelItem => item.NomeDoProjeto)</td>
          <td>@Html.DisplayFor(modelItem => item.Bugdget)</td>
          <td>@Html.DisplayFor(modelItem => item.Actual)</td>
          <td>@Html.DisplayFor(modelItem => item.Commitment)</td>
          <td>@Html.DisplayFor(modelItem => item.Assigned)</td>
          <td>@Html.DisplayFor(modelItem => item.Available)</td>
          <!--
          <td class="text-center">
              <a asp-action="FollowUp" class="btn btn-success btn-sm" asp-route-id="@item.Id"><span class="glyphicon glyphicon-stats" aria-hidden="true"></a>
          </td>
          -->
        </tr>
}
      </tbody>
    </table>
  </div>
</div>
