@model IEnumerable<Ferrero.GestorDeProjetos.Web.Models.OrdemDeInvestimentoFollowUp>

@{
    ViewData["Title"] = "Follow-up das Ordens de Investimento";
}

<h3></h3>
<div class="row">
  <hr />
  <ul class="nav nav-pills">
    <li role="presentation"><a asp-controller="Projetos" asp-action="Index">Projetos</a></li>
    <li role="presentation"><a asp-controller="OrdensDeInvestimento" asp-action="Index">Ordens de Investimento</a></li>
    <li role="presentation"><a  asp-controller="Ativos" asp-action="Index">Ativos</a></li>
    <li role="presentation"><a asp-controller="OrdensDeCompra" asp-action="Index">Ordens de Compra</a></li>
    <li role="presentation"><a asp-controller="NotasFiscais" asp-action="Index">Notas Fiscais</a></li>
    <li role="presentation"><a asp-controller="CentrosDeCusto" asp-action="Index">Centros de Custos</a></li>
    <li role="presentation"><a asp-controller="Fornecedores" asp-action="Index">Fornecedores</a></li>
    <li role="presentation"  class="active"><a asp-controller="OrdensDeInvestimento" asp-action="FollowUp">Acompanhamento</a></li>
  </ul>
  <hr />
</div>

<div class="row">
  <!--
  <div class="text-left col-md-10">
    <form class="form-inline">
      <div class="form-group">         
          <input type="text" class="form-control col-xs-10" placeholder="Nome do projeto" required />
      </div>
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      </button>
    </form>
  </div>
  -->
</div>

<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Numero) </th>
            <th>@Html.DisplayNameFor(model => model.NomeDoProjeto) </th>            
            <th>@Html.DisplayNameFor(model => model.Bugdget) </th>            
            <th>@Html.DisplayNameFor(model => model.Actual) </th>            
            <th>@Html.DisplayNameFor(model => model.Commitment) </th>            
            <th>@Html.DisplayNameFor(model => model.Assigned) </th>    
            <th>@Html.DisplayNameFor(model => model.Available) </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Numero)</td>
            <td>@Html.DisplayFor(modelItem => item.NomeDoProjeto)</td>
            <td>@Html.DisplayFor(modelItem => item.Bugdget)</td>
            <td>@Html.DisplayFor(modelItem => item.Actual)</td>
            <td>@Html.DisplayFor(modelItem => item.Commitment)</td>
            <td>@Html.DisplayFor(modelItem => item.Assigned)</td>
            <td>@Html.DisplayFor(modelItem => item.Available)</td>
            <td class="text-center">
                <a asp-action="FollowUp" class="btn btn-success btn-sm" asp-route-id="@item.Id"><span class="glyphicon glyphicon-stats" aria-hidden="true"></a>
            </td>
        </tr>
}
    </tbody>
</table>
