@model IEnumerable<Ferrero.GestorDeProjetos.Web.Models.ResumoFinanceiro>

@{
    ViewData["Title"] = "Dashboard Financeiro";
}

@section Styles {
    <!-- Dependencies -->
    <link rel="stylesheet" href="~/vendor/libs/datatables/datatables.css">
}

<!-- CONTENT -->

<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
  <div><span class="text-muted font-weight-light">Follow-up/</span>Dashboard Financeiro</div>
  <input type="hidden"  id="NumeroDaOrdemDeInvestimento" 
                        name="NumeroDaOrdemDeInvestimento" 
                        value="@ViewBag.NumeroDaOrdemDeInvestimento"/>
</h4>

<div class="row">
    <div class="card col-md-12">
        <div class="card-body">
            <h5 class="card-title">@ViewBag.NumeroDaOrdemDeInvestimento - @ViewBag.NomeDoProjeto</h5>
            <canvas id="DonuChart"></canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="card col-md-12">
        <div class="card-body">
            <h5 class="card-title">@ViewBag.NumeroDaOrdemDeInvestimento - @ViewBag.NomeDoProjeto</h5>
            <canvas id="LineChart"></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Dependencies -->
    <script src="~/vendor/libs/chartjs/chartjs.js"></script>
    <script src="~/vendor/libs/datatables/datatables.js"></script>
    <script src="~/js/tables_datatables.js"></script>
    <script>
        //--- Doughnut Chart ---
        $(document).ready(function() {
            var id    = $('#NumeroDaOrdemDeInvestimento').val();  
            var ctx   = document.getElementById('DonuChart').getContext("2d");
            ctx.textAlign = 'center';
            $.ajax({
                type: 'GET',
                url: '/dashboard/donut/' + id,
                success: function(result) {
                    var chart = new Chart(ctx, {
                            type: 'doughnut',
                            data: result
                    });
                }
            });
        });

        //--- Line Chart ---
        $(document).ready(function() {
            var id    = $('#NumeroDaOrdemDeInvestimento').val();
            var ctx   = document.getElementById('LineChart').getContext("2d");
            $.ajax({
                type: 'GET',
                url: '/dashboard/line/' + id,
                success: function(result) {
                    var chart = new Chart(ctx, {
                            type: 'line',
                            data: result
                    });
                }
            });
        });
    </script>
}
