@model IEnumerable<Ferrero.GestorDeProjetos.Web.Models.OrdemDeCompra>

@{
    ViewData["Title"] = "Todas as ordens de compra";
}

@section Styles {
    <!-- Dependencies -->
    <link rel="stylesheet" href="~/vendor/libs/datatables/datatables.css">
}
@section Scripts {
    <!-- Dependencies -->
    <script src="~/vendor/libs/datatables/datatables.js"></script>
    <script src="~/js/tables_datatables.js"></script>
}

<!-- CONTENT -->
<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
  <div><span class="text-muted font-weight-light">Todas/</span>Ordens de Compra</div>
  <a type="button" class="btn btn-primary rounded-pill d-block" asp-action="Create" asp-controller="OrdensDeCompra">
    <span class="ion ion-md-add"></span>&nbsp;Ordem de Compra
  </a>
</h4>

<div class="card">
  <div class="card-datatable table-responsive">
    <table id="todos-as-ordens-de-compra" class="table table-striped table-bordered table-datatable">
      <thead>
        <tr>
          <th>@Html.DisplayNameFor(model => model.Numero)</th>
          <th>@Html.DisplayNameFor(model => model.Data)</th>
          <th>@Html.DisplayNameFor(model => model.NumeroDaRequisicao)</th>
          <th>@Html.DisplayNameFor(model => model.Valor)</th>
          <th>@Html.DisplayNameFor(model => model.Documento)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Numero)</td>
            <td>@Html.DisplayFor(modelItem => item.Data)</td>
            <td>@Html.DisplayFor(modelItem => item.NumeroDaRequisicao)</td>
            <td>@Html.DisplayFor(modelItem => item.Valor)</td>
            <td class="text-center">
                <a  asp-action="Download" 
                    asp-route-filename="@item.Documento" 
                    class="btn btn-success btn-sm"> 
                    <span class="ion ion-md-download">
                </a>
            </td>
            <td class="text-center">
              <a asp-action="Edit" class="btn btn-warning btn-sm" asp-route-id="@item.Id">
                <span class="ion ion-md-create">
              </a>
              <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">
                <span class="ion ion-md-trash">
              </a>
            </td>
        </tr>
}
      </tbody>
    </table>
  </div>
</div>
